<section class="bg-white mb-12 lg:mb-24">
  <div class="lg:grid lg:grid-cols-12">
    <aside class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">

<%= turbo_frame_tag :edit_profile do %>
<div class="overflow-auto h-[350px]">
  <h6 class="text-center mt-3">Edit your profile</h6>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-2 flex flex-col justify-center" }) do |f| %>
      <div class="relative flex flex-col items-center">
        <label class="flex items-center bg-grey-light rounded-lg py-1 px-3 cursor-pointer">
          Upload profile picture
          <%= f.file_field :photo, class: "hidden", as: :file %>
        </label>
        <p id="file-name" class="mt-2 text-sm text-gray-500"></p>
      </div>
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.text_field :first_name, autofocus: true, placeholder: "email address", class: "h-[40px] p-3 border rounded-lg  focus:outline-none my-1 bg-white" %>
      <%= f.text_field :last_name, placeholder: "last name", class: "h-[40px] p-3 border rounded-lg border focus:outline-none my-1 bg-white" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address", class: "h-[40px] p-3 border rounded-lg border focus:outline-none my-1 bg-white" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
        <%= f.password_field :password, autocomplete: "new-password",placeholder: "New password", class: "h-[40px] p-3 border rounded-lg border focus:outline-none my-1 bg-white" %>
        <% if @minimum_password_length %>
        <em class="text-xs text-grey-dark">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "h-[40px] p-3 border rounded-lg border focus:outline-none my-1 bg-white" %>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "h-[40px] p-3 border rounded-lg border focus:outline-none my-1 bg-white" %>
      <div class="flex sm:items-center gap-4">
        <%= f.submit "Update", class: "btn btn-primary" %>
        <%= link_to widgets_path(current_user), data: { turbo_frame: "return_profile" } do %>
          <%= button_to "Cancel", widgets_path, class: "btn btn-secondary" %>
    <% end %>
      </div>
    </div>
    <div>
    </div>
  <% end %>
</div>
<% end %>
      </div>
        Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </main>
  </div>
</section>


<%# error display part if something is missing in the form %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
