<%= turbo_frame_tag "new_routine" do %>
  <%= form_with(model: @task, url: widget_new_routine_path, method: :post) do |f| %>
    <h4 class="mb-2 text-purple-dark">Create New Task :</h4>

    <!-- Task Title Input -->
    <%= f.text_field :title,
      class: "w-full shadow-center rounded-lg px-4 py-2",
      placeholder: "Enter new task...",
      required: true
    %>

    <!-- Select Days Section -->
    <div class="mt-4">
      <h4 class="mb-2 text-purple-dark">Select Days:</h4>
      <div class="flex flex-wrap justify-center w-[470px]">
      <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
        <label class="inline-flex items-center">
          <%= f.check_box day.downcase.to_sym,
            class: "form-checkbox rounded-md  border-purple-dark w-[18px] h-[18px] " %>
          <span class="m-2 text-sm text-gray-600"><%= day %></span>
        </label>
      <% end %>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="mt-6 flex justify-center">
      <button class="font-bold bg-purple-dark text-white px-7 py-2 rounded-lg hover:bg-gray-400"
      data-controller="new-routine" data-action="click->new-routine#back" >
      Add</button>
    </div>
  <% end %>
<% end %>
