<div class="flex-col shadow-center rounded-lg w-full h-full p-3 flex flex-col justify-start items-center bg-blue-light" 
    data-controller="flashcards-handler" 
    data-flashcards='<%= service.flashcards.to_json(only: [:question, :answer]) %>'>
     <div class="w-full flex justify-center">
    <h3 class="bold text-blue-dark" >Flashcards</h3>
    </div>
    <% if service.flashcards[0].present? %>
    <%= render "widgets/flashcards_qna_display", flashcard: service.flashcards[0] %>
    <% else  %>
    <p>No flashcard yet. create some to display them</p>
    <% end  %>    <div class="flex mt-6 w-full p-12">
        <div class="w-12 rounded-xl flex items-center justify-center aspect-square btn btn-secondary p-0 bg-blue-dark mr-10">
            <div class="">
                <span 
                role="button" 
                aria-label="Toggle Question/Answer"
                data-icon="eye" 
                data-flashcards-handler-target="show" 
                data-action="click->flashcards-handler#show">
                <%= lucide_icon("eye", class: "h-6 w-6 item-center justify-center text-blue-light") %> 
                </span>
            </div>
        </div>
        <div>
            <span 
            class="border-black w-12 rounded-xl"
            role="button" 
            aria-label="Previous Question"
            data-action="click->flashcards-handler#previousQuestion">
            <%= lucide_icon("chevron-left", class: "btn-arrow btn-arrow:hover h-12 w-12 text-blue-dark") %>
            </span>
        </div>
        <div>
            <span 
            class="border-black w-12 rounded-xl"
            role="button" 
            aria-label="Next Question"
            data-action="click->flashcards-handler#nextQuestion">
            <%= lucide_icon("chevron-right", class: "btn-arrow btn-arrow:hover h-12 w-12 text-blue-dark") %>
            </span>
        </div>
        <div class="flex ml-auto">
            <button class="btn btn-secondary bg-blue-dark"
            data-action="click->flashcards-handler#toggleForm"
            >Add a new flashcard</button>
        </div>
    <%# this part below shall be only on the BIDGET %>
    </div>

    <%# below the form  to add a flashcards %>
    <div class="hidden" 
        data-flashcards-handler-target="form">
        <%= form_with(model: Flashcard.new, url: widget_flashcards_path(service.widget))  do |form| %>
        <div class="flex justify-center">
            <div class="form-control m-2">
                <%= form.label :question, class: "label" do %>
                    <span class="label-text text-lg text-blue-dark font-bold">Question</span>
                <% end %>
                <%= form.text_field :question, class: "rounded-md input input-bordered w-full bg-gray-100 shadow-inner", maxlength: 70 %>
            </div>
            <div class="form-control m-2">
                <%= form.label :answer, class: "label" do %>
                    <span class="label-text text-lg text-blue-dark font-bold">Answer</span>
                <% end %>
                <%= form.text_field :answer, class: "rounded-md input input-bordered w-full bg-gray-100 shadow-inner", maxlength: 70 %>
            </div>
            <div class="flex mt-11">
                <div class="form-control mt-2">
                    <%= form.submit "Add", class: "btn btn-primary w-ful bg-blue-dark" %>
                </div>
                <div class="form-control m-2">
                    <%= button_to "Cancel", widgets_path, class: "btn btn-secondary" %>
                </div>
            </div>
        <% end %>
        </div>
        <div class="flex flex-col mt-8 pl-8 pr-14">
            <%  service.flashcards.each do |flashcard| %>
                <div class="justify-between flex items-center mb-4 ">
                    <div class="mr-12 question-width">
                        <h3><%= flashcard.question %></h3>
                    </div>
                    <div class="flex-1 text-left mr-4">
                        <h3 ><%= flashcard.answer %></h3>
                    </div>
                    <div class="mr-12">
                        <%= link_to lucide_icon("trash-2", class: "h-6 w-6 text-gray-100"), flashcard_path(flashcard), 
                            class: "btn btn-secondary p-0 aspect-square ml-2", 
                            data: { turbo_method: :delete, 
                            confirm: "Delete this flashcard?" } %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

