<div class="card h-[700px] border-green-500 flex-col bg-green-200 rounded-2xl" 
    data-controller="flashcards-handler" 
    data-flashcards='<%= service.flashcards.to_json(only: [:question, :answer]) %>'>
    <h1  class=" justify-center text-center mt-36"
        data-flashcards-handler-target="text"
        data-question="<%= service.flashcards[0].question %>"
        data-answer="<%= service.flashcards[0].answer %>" >
        <%= service.flashcards[0].question %></h1>

    <div class="flex justify-between">
        <div class="border border-black w-12 rounded-xl m-8 flex items-center justify-center aspect-square">
            <span 
            role="button" 
            aria-label="Toggle Question/Answer"
            data-icon="eye" 
            data-flashcards-handler-target="show" 
            data-action="click->flashcards-handler#show">
            <%= lucide_icon("eye", class: "h-6 w-6 item-center justify-center") %> 
            </span>
        </div>

        <div class="flex place-content-end items-center justify-center mr-20">
            <span 
            class="border-black w-12 rounded-xl"
            role="button" 
            aria-label="Previous Question"
            data-action="click->flashcards-handler#previousQuestion">
            <%= lucide_icon("chevron-left", class: "h-12 w-12") %>
                </span>

            <span 
            class="border-black w-12 rounded-xl"
            role="button" 
            aria-label="Next Question"
            data-action="click->flashcards-handler#nextQuestion">
            <%= lucide_icon("chevron-right", class: "h-12 w-12") %>
            </span>
        </div>
    </div>
    <%# this part below shall be only on the BIDGET %>
    <div class="flex ml-auto">
        <button class="btn btn-neutral m-8">Add a new flashcard</button>
    </div>

    <%# below the form  to add a flashcards %>
<div class="border-green-500"> 
    <%= form_with(model: Flashcard.new, url: widget_flashcards_path(service.widget))  do |form| %>
    <div class="flex justify-center">
        <div class="form-control m-8">
            <%= form.label :question, class: "label" do %>
            <span class="label-text">Question</span>
            <% end %>
            <%= form.text_field :question, class: "input input-bordered w-full" %>
        </div>
        <div class="form-control m-8">
            <%= form.label :answer, class: "label" do %>
            <span class="label-text">Answer</span>
            <% end %>
            <%= form.text_field :amount, class: "input input-bordered w-full" %>
        </div>
    </div>
    <div class="mt-4 flex justify-center">
        <div class="form-control mt-8">
        <%= form.submit "Submit", class: "btn btn-primary w-full" %>
        </div>
        <div class="form-control m-8">
        <%= button_to "Cancel", widgets_path, class: "btn btn-secondary" %>
        </div>
    </div>
    </div>
    <% end %>
</div>


