<div class="shadow-center rounded-lg w-full h-full p-5 flex flex-col justify-start items-center bg-yellow-light">
  <h1 class="text-lg mt-4 text-yellow-dark uppercase">Weather</h1>
  <div class="text-center grow self-center flex flex-col justify-center items-center"
  data-controller="weather" data-weather-timezone-value="<%= service.widget.timezone%>">
    <div class=" flex justify-center items-center border-yellow-dark p-5 mb-10 rounded-lg">
    <div class="flex-1 flex justify-center items-center" data-weather-target="icon"></div>
    <div class="flex-1 flex flex-col justify-content items-center ml-4">
      <span class="text-yellow-dark text-[50px] leading-[50px] font-bold" data-weather-target="temperature"></span>
      <span class="uppercase text-yellow-dark font-md font-bold"><%= service.widget.timezone %></span>
    </div>
    </div>
    <h4 class="mb-2 text-yellow-dark uppercase">Change location</h4>

    <%= form_with model: service.widget do |f| %>
      <div class="my-3">
        <%= f.text_field :timezone, placeholder: "Enter a city (e.g., New York)", class: "bg-grey-light shadow-center w-[300px] rounded-lg px-4 py-2"%>
      </div>
      <div class= "px-4 py-3 rounded-lg mt-3 bg-yellow-dark text-yellow-light cursor-pointer">
        <%= f.submit%>
      </div>
    <% end %>
  </div>
</div>
