<%= turbo_frame_tag :edit_profile do %>
    <%= turbo_frame_tag :edit_profile do %>
    <label class="block overflow-scroll mt-5">
        <label class="input rounded-lg flex items-center gap-2 mb-3">
          <input type="text" class="grow" value="<%= @user.email %>" placeholder="user@dahboard.com" disabled="true"/>
          <%= lucide_icon("mail", "class" => "h-4 w-4 text-gray-500") %>
        </label>

        <label class="input rounded-lg flex items-center gap-2">
          <input type="text" class="grow" value="***********" placeholder="*********" disabled="true"/>
          <%= lucide_icon("lock", "class" => "h-4 w-4 text-gray-500") %>
        </label>
    </label>
    <% end %>
<% end %>

<div class="flex justify-center w-full">
  <%= link_to "Edit", edit_user_registration_path(current_user),
      class: "flex-1 btn btn-primary my-2 mr-1 text-center py-2",
      data: { turbo_frame: "edit_profile" } %>
  <%= link_to "Logout", destroy_user_session_path, data:{turbo_method: :delete},
      class: "flex-1 btn btn-secondary my-2 ml-1 text-center py-2" %>
</div>
