        <div class="grid gap-4 grid-cols-2 flex justify-center p-4">
            <div class="border border-black  w-8 rounded-lg  flex items-center justify-center aspect-square">
                <%= lucide_icon("clock", class: "h-4 w-4") %>        
            </div>
            <div class="border border-black  w-8 rounded-lg  flex items-center justify-center aspect-square">
                <%= lucide_icon("list-checks", class: "h-4 w-4") %>        
            </div>
            <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= lucide_icon("heart-pulse", class: "h-4 w-4") %>        
            </div>
                  <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= lucide_icon("haze", class: "h-4 w-4") %>        
            </div>
                  <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= lucide_icon("notebook-pen", class: "h-4 w-4") %>        
            </div>
            <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= lucide_icon("dollar-sign", class: "h-4 w-4") %>       
            </div>
          </div>