        <div class="grid gap-4 grid-cols-2 flex justify-center p-4">
            <div class="border border-black  w-8 rounded-lg  flex items-center justify-center aspect-square">
                <%= link_to lucide_icon("clock", class: "h-4 w-4"),"widgets?category=time",
                data: { turbo_method: :post } %>
            </div>
            <div class="border border-black  w-8 rounded-lg  flex items-center justify-center aspect-square">
                <%= link_to lucide_icon("list-checks", class: "h-4 w-4"),"widgets?category=habits",
                data: { turbo_method: :post } %>
            </div>
            <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= link_to lucide_icon("heart-pulse", class: "h-4 w-4"),"widgets?category=fitness",
                data: { turbo_method: :post } %>
            </div>
                  <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= link_to lucide_icon("haze", class: "h-4 w-4"),    
                data: { turbo_method: :post } %>
            </div>
                  <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= link_to lucide_icon("notebook-pen", class: "h-4 w-4"),
                data: { turbo_method: :post } %>
            </div>
            <div class="border border-black  w-8 rounded-lg flex items-center justify-center aspect-square">
                <%= link_to lucide_icon("dollar-sign", class: "h-4 w-4"), "widgets?category=finance",
                data: { turbo_method: :post } %>
            </div>
          </div>