<div class="grid gap-4 w-3/5 grid-cols-2 p-4 place-items-center">
  <div class="bg-mint-dark w-[40px] w-[40px] rounded-lg flex items-center justify-center aspect-square">
      <%= link_to lucide_icon("clock", class: "h-[25px] w-[25px] text-mint-light"),"widgets?category=time",
      data: { turbo_method: :post } %>
  </div>
  <div class="bg-red-dark w-[40px] rounded-lg  flex items-center justify-center aspect-square">
      <%= link_to lucide_icon("list-checks", class: "h-[25px] w-[25px] text-red-light"),"widgets?category=habits",
      data: { turbo_method: :post } %>
  </div>
  <div class="bg-purple-dark w-[40px] rounded-lg flex items-center justify-center aspect-square">
      <%= link_to lucide_icon("heart-pulse", class: "h-[25px] w-[25px] text-purple-light"),"widgets?category=fitness",
      data: { turbo_method: :post } %>
  </div>
        <div class="bg-mint-dark w-[40px] rounded-lg flex items-center justify-center aspect-square">
      <%= link_to lucide_icon("haze", class: "h-[25px] w-[25px] text-mint-light"),
      data: { turbo_method: :post } %>
  </div>
        <div class="bg-blue-dark w-[40px] rounded-lg flex items-center justify-center aspect-square">

      <%= link_to lucide_icon("layers", class: "h-[25px] w-[25px] text-blue-light"),"widgets?category=flashcards",
      data: { turbo_method: :post } %>
  </div>
  <div class="bg-green-dark w-[40px] rounded-lg flex items-center justify-center aspect-square">
      <%= link_to lucide_icon("dollar-sign", class: "h-[25px] w-[25px] text-green-light"), "widgets?category=stock_portfolio",
      data: { turbo_method: :post } %>
  </div>
   <div class="bg-orange-dark w-[40px] rounded-lg flex items-center justify-center aspect-square">
      <%= link_to lucide_icon("map", class: "h-[25px] w-[25px] text-orange-light"), "widgets?category=map",
      data: { turbo_method: :post } %>
  </div>
</div>

