<div class="card rounded-lg" data-controller="progress">
  <h3 class="font-bold text-purple-dark uppercase">Goal Setting</h3>
  <%= form_with(model: widget, url: widget_path(widget), method: :patch, class: "space-y-4", data: { action: "submit->progress#setGoal" }) do |f| %>
    <!-- Goal Input -->
    <div class="flex items-center space-x-2">
      <p>Set your training goal:</p>
      <%= f.text_field :goal,
        class: "shadow-center w-[80px] rounded-lg px-4 py-2",
        placeholder: "100",
        required: true
      %>
      <span class="text-gray-600">km</span>
      <button type="submit" class="ml-3 font-bold bg-purple-dark text-white px-7 py-2 rounded-lg hover:bg-gray-400">
      Log
      </button>
    </div>
  <% end %>
  <br>
  <!-- Range Slider -->
  <p class="mb-4">Adjust your progress:</p>
  <div class="flex items-center space-x-4">
    <p class="text-purple-dark font-bold">0</p>
    <input
      type="range"
      name="widget[progress]"
      min="0"
      max="<%= widget.goal %>"
      value="<%= widget.progress %>"
      class="range w-full focus:ring-blue-400 focus:outline-none"
      data-progress-target="slider"
      data-action="input->progress#updateValue">
    <p id="progressValue" class="text-purple-dark font-bold" data-progress-target="output">
      <%= widget.progress %>/<%= widget.goal %>
    <p class="text-purple-dark font-bold">km</p>
  </div>
</div>
