<div class="card bg-white shadow-xl w-1/3 p-4">
      <h1 class="text-xl font-bold mb-4">Routine Setting</h1>
      <p class="mb-4">This is to set your daily/weekly routine on workouts.</p>
      <ul class="list-inside">
        <li class="mb-2">
          <div class="flex items-center">
              <% @tasks.each do |task| %>
                <div class="flex-auto p-2">
                  <div><input type="checkbox" id="cardio1" class="form-checkbox h-5 w-5"></div>
                  <div><label for="cardio1" class="text-base font-semibold"><%= task.title %></label></div>
                  <div class="text-xs text-gray-600">
                    <%= "Monday" if task.monday == true %>
                    <%= "Tuesday" if task.tuesday == true %>
                    <%= "Wednesday" if task.wednesday == true %>
                    <%= "Thursday" if task.thursday == true %>
                    <%= "Friday" if task.friday == true %>
                    <%= "Saturday" if task.saturday == true %>
                    <%= "Sunday" if task.sunday == true %>
                  </div>
                </div>
              <% end %>
          </div>
        </li>
      </ul>
      <button class="btn btn-primary">Add</button>
    </div>
