<div class="w-screen h-screen flex justify-center items-center">

  <div class="flex justify-center items-center w-screen h-screen p-10">
    <div class="grid gap-8 m:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 grid-rows-4 w-[1100px] h-[630px]">
      <% @widgets.each do |widget| %>
        <div class="col-span-<%=widget.width%> row-span-<%=widget.height%> shadow-center card rounded-lg relative w-full h-full">
          <%= render "midgets/#{widget.category}", service: WidgetsService.new.call(widget) %>
          <button class="absolute top-1 right-1 text-white" onclick="my_modal_<%=widget.id%>.showModal()"><%= lucide_icon("expand", class:"w-[15px] h-[15px]") %></button>
        </div>
            <!-- You can open the modal using ID.showModal() method -->
        <dialog id="my_modal_<%=widget.id%>" class="modal">
          <div class="modal-box w-[80vw] h-[80vh] max-w-full flex flex-col bg-transparent shadow-none">
            <div class="grow">
              <%= render "bidgets/#{widget.category}", service: WidgetsService.new.call(widget) %>
            </div>
            <div class="modal-action align-center justify-center">
              <form method="dialog" class="w-5/12">
                <!-- if there is a button, it will close the modal -->
                <button class="btn w-full">Close</button>
              </form>
            </div>
          </div>
        </dialog>
      <% end %>
    </div>

    <div class="flex justify-center flex-col ml-5 border-grey-light h-[630px]">
      <div class="collapse py-3">
        <input type="checkbox"/>
          <div class="collapse-title p-0 flex justify-center ">
              <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" class="rounded-xl w-20 justify-center shadow-menu"/>
          </div>
          <div class="collapse-content">
              <%= render "shared/profile_menu" %>
          </div>
      </div>
      <div class="collapse py-3">
        <input type="checkbox"/>
            <div class="collapse-title p-0 flex justify-center">
        <div class="bg-white shadow-menu w-20 rounded-lg flex items-center justify-center aspect-square">
          <%= lucide_icon("plus", class: "h-12 w-12 text-grey-dark") %>
        </div>        </div>
        <div class="collapse-content flex justify-center">
          <%= render "shared/widgets_menu" %>
        </div>
      </div>
    </div>
  </div>
</div>
