<section class="lg:mb-24 mt-[150px]">
  <div>
      <div class="w-5/12 m-auto text-center">

        <h1 class="mb-5">Welcome on Dashly !</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et libero nulla eaque error neque ipsa culpa autem, at itaque nostrum!</p>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "my-12 w-9/12 mx-auto text-left" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <div class="mt-5">
              <label class="input shadow-center flex items-center gap-2 rounded-lg">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "grow", placeholder: "email" %>
                <%= lucide_icon("mail", "class" => "h-4 w-4 text-gray-500") %>
              </label>
            <div class="mt-5">
              <label class="input shadow-center flex items-center gap-2 rounded-lg">
                <%= f.password_field :password, autocomplete: "current-password", class: "grow", placeholder: "Password (6 characters)" %>
                <%= lucide_icon("lock", "class" => "h-4 w-4 text-gray-500") %>
              </label>
          </div>

            <div>
            <%= f.submit "Log in", class: "btn btn-primary w-full mt-8" %>
              <p class="text-center pt-2 text-sm text-gray-500 sm:mt-0">
              Don't have an account?
              <%= link_to "Sign up", new_user_registration_path, class: "text-gray-500 underline" %>.
            </p>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</section>
