<div class="bg-purple-light h-full w-full rounded-lg p-4">
  <!-- Fitness Section -->
  <div class="flex-1 relative">
    <!-- Section Title -->
    <h4 class="card-title text-purple-dark">Fitness</h4>

    <!-- Routine Tasks -->
    <h5 class="font-semibold text-purple-dark mt-7 mb-2">Routine Tasks:</h5>
    <div class="max-h-[190px] overflow-y-scroll">
      <% service.tasks.each do |task| %>
        <% today = Date.today.strftime("%A").downcase %>
        <% if task.send(today) %>
          <div
            class="task-item flex flex-col px-4 py-1 mb-2 bg-purple-light border-purple-dark shadow-sm rounded-lg hover:shadow-md transition-shadow"
            data-id="<%= task.id %>"
          >
            <!-- Task Checkbox and Title -->
            <div class="flex items-center space-x-3">
              <input
                type="checkbox"
                id="task_<%= task.id %>"
                class="form-checkbox h-5 w-5 task-checkbox"
                <%= 'checked' if task.done %>
              >
              <label
                for="task_<%= task.id %>"
                class="text-base font-medium text-purple-dark"
              >
                <%= task.title %>
              </label>
            </div>

            <!-- Days of the Week -->
            <div class="flex items-center flex-wrap mt-1">
              <% ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'].each do |day| %>
                <% if task.send(day) %>
                  <span class="mr-2 text-xs text-purple-light bg-purple-dark px-2 py-1 rounded-md uppercase">
                    <%= day.capitalize %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Next Race Countdown -->
  <div>
    <!-- Countdown Container -->
    <div class="absolute top-5 right-5 bg-purple-dark text-purple-light rounded-lg p-2 flex flex-col items-center">
    <!-- Countdown Number -->
    <span class="countdown font-mono text-3xl font-bold">
      <% if service.races.last != nil %>
        <% given_date = Time.new(service.races.last.year, service.races.last.month, service.races.last.day, 0, 0, 0) %>
        <% now = Time.now %>
        <% total_seconds = (given_date - now).to_i  %>
        <% days_countdown = total_seconds / (60 * 60 * 24) %>
      <% else %>
        <% days_countdown = 0 %>
      <% end %>
      <span style="--value:<%= days_countdown %>;"></span>
    </span>
    <!-- Countdown Label -->
    <p class="text-xs uppercase tracking-wider">Days til Race</p>
    </div>

  </div>
</div>
