<div class="h-full w-full rounded-lg p-3 flex flex-col justify-center items-center bg-blue-light" 
    data-controller="flashcards-handler" 
    data-flashcards='<%= service.flashcards.to_json(only: [:question, :answer]) %>'>
    <div class="w-full flex items-start">
    <h3 class="text-blue-dark" >Flashcards</h3>
    </div>
    <% if service.flashcards[0].present? %>
    <%= render "widgets/flashcards_qna_display", flashcard: service.flashcards[0] %>
    <% else  %>
    <p>No flashcard yet. create some to display them</p>
    <% end  %>
    <div class="flex justify-between mt-auto w-full">
        <div class="w-9 h-9 flex items-center justify-center rounded-lg aspect-square btn min-h-0 btn-secondary p-0 bg-blue-dark mr-10 mb-3">
            <span 
            role="button" 
            aria-label="Toggle Question/Answer"
            data-icon="eye" 
            data-flashcards-handler-target="show" 
            data-action="click->flashcards-handler#show">
            <%= lucide_icon("eye", class: "h-6 w-6 item-center justify-center") %> 
            </span>
        </div>

        <div class="flex place-content-end items-center justify-center">
            <span 
            class="w-12 rounded-xl"
            role="button" 
            aria-label="Previous Question"
            data-action="click->flashcards-handler#previousQuestion">
            <%= lucide_icon("chevron-left", class: "btn-arrow btn-arrow:hover h-10 w-10 text-blue-dark pb-2") %>
                </span>

            <span 
            class="w-12 rounded-xl"
            role="button" 
            aria-label="Next Question"
            data-action="click->flashcards-handler#nextQuestion">
            <%= lucide_icon("chevron-right", class: "btn-arrow btn-arrow:hover h-10 w-10 text-blue-dark pb-2") %>
            </span>
        </div>
    </div>
</div>






